.blog-post-image img{
	width: 100px;
	height: 100px;
	border: 10px none black;
	border-radius: 100px;
}
.prueba{
	border: 2px solid red;
}

.blog-post-footer{
	padding-top: 25px;
	padding-bottom: 10px;
}
.blog-post-footer a{
	text-decoration: none;
}